@import "../assets/styles/index.css";
@import "tailwindcss";

:root {
  --background: #F8F7F2;
  --foreground: #2E2E2E;
  --primary: #4C6041;
  --secondary: #DAD2BC;
  --tertiary: #A8C66C;
  --quarternary: #2E2E2E;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--merriweather-font);
  --font-serif: var(--lora-font);
  --color-theme-primary: var(--primary);
  --color-theme-secondary: var(--secondary);
  --color-theme-tertiary: var(--tertiary);
  --color-theme-quarternary: var(--quarternary);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
